[Desktop Entry]
Name=Heroes 3 Manual
Exec=env WINEPREFIX="/home/jon/.wineprefix/heroes3" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/jon/.wineprefix/heroes3/dosdevices/c:/users/Public/Start\\ Menu/Programs/3DO/Heroes\\ 3\\ Complete/Heroes\\ 3\\ Manual.lnk
Type=Application
StartupNotify=true
Path=/home/jon/.wineprefix/heroes3/dosdevices/c:/Program Files (x86)/3DO/Heroes 3 Complete
Icon=97C1_HOMM3.0
