[Desktop Entry]
Name=Heroes 3 Campaign Editor
Exec=env WINEPREFIX="/home/jon/.wineprefix/heroes3" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/jon/.wineprefix/heroes3/dosdevices/c:/users/Public/Start\\ Menu/Programs/3DO/Heroes\\ 3\\ Complete/Heroes\\ 3\\ Campaign\\ Editor.lnk
Type=Application
StartupNotify=true
Path=/home/jon/.wineprefix/heroes3/dosdevices/c:/Program Files (x86)/3DO/Heroes 3 Complete
Icon=F842_h3ccmped.0
