[Desktop Entry]
Name=View Readme
Exec=env WINEPREFIX="/home/jon/.wineprefix/heroes3" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/jon/.wineprefix/heroes3/dosdevices/c:/users/Public/Start\\ Menu/Programs/3DO/Heroes\\ 3\\ Complete/View\\ Readme.lnk
Type=Application
StartupNotify=true
Icon=2899_notepad.0
