# Reference: https://github.com/i3/i3/blob/next/etc/config
# All possible modifiers: cmd, alt, ctrl, shift

# i3 doesn't have "normalizations" feature that why we disable them here.
# But the feature is very helpful.
# Normalizations eliminate all sorts of weird tree configurations that don't make sense.
# Give normalizations a chance and enable them back.
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

# Mouse follows focus when focused monitor changes
#on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 0

# Run Sketchybar together with AeroSpace
# sketchbar has a built-in detection of already running process,
# so it won't be run twice on AeroSpace restart
after-startup-command = ['exec-and-forget sketchybar']

# Notify Sketchybar about workspace change
exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE PREV_WORKSPACE=$AEROSPACE_PREV_WORKSPACE'
]

[mode.main.binding]
    # See: https://nikitabobko.github.io/AeroSpace/goodies#open-a-new-window-with-applescript
    alt-shift-enter = '''exec-and-forget osascript -e '
    tell application "Terminal"
        do script
        activate
    end tell'
    '''

    alt-enter = '''exec-and-forget osascript -e '
    do shell script "open -n /Applications/Ghostty.app"'
    '''

    # hide application is useless in a tiling window manager
    cmd-h = [] # Disable "hide application"
    cmd-alt-h = [] # Disable "hide others"

    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Ghostty" to activate
    # tell application "System Events"
    #     tell process "Ghostty"
    #         keystroke "n" using {command down}
    #     end tell
    # end tell'
    # '''

    # i3 wraps focus by default
    alt-j =         'focus --boundaries-action wrap-around-the-workspace left'
    alt-k =         'focus --boundaries-action wrap-around-the-workspace down'
    alt-l =         'focus --boundaries-action wrap-around-the-workspace up'
    alt-semicolon = 'focus --boundaries-action wrap-around-the-workspace right'

    alt-shift-j = 'move left'
    alt-shift-k = 'move down'
    alt-shift-l = 'move up'
    alt-shift-semicolon = 'move right'

    # Consider using 'join-with' command as a 'split' replacement if you want to enable
    # normalizations
    alt-h = 'split horizontal'
    alt-v = 'split vertical'

    alt-f = 'fullscreen'

    alt-s = 'layout v_accordion' # 'layout stacking' in i3
    alt-w = 'layout h_accordion' # 'layout tabbed' in i3
    alt-e = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

    alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

    # Not supported, because this command is redundant in AeroSpace mental model.
    # See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
    #alt-space = 'focus toggle_tiling_floating'

    # `focus parent`/`focus child` are not yet supported, and it's not clear whether they
    # should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
    # alt-a = 'focus parent'

    ctrl-alt-1 = 'workspace 1 --auto-back-and-forth'
    ctrl-alt-2 = 'workspace 2 --auto-back-and-forth'
    ctrl-alt-3 = 'workspace 3 --auto-back-and-forth'
    ctrl-alt-4 = 'workspace 4 --auto-back-and-forth'
    ctrl-alt-5 = 'workspace 5 --auto-back-and-forth'
    ctrl-alt-6 = 'workspace 6 --auto-back-and-forth'
    ctrl-alt-7 = 'workspace 7 --auto-back-and-forth'
    ctrl-alt-8 = 'workspace 8 --auto-back-and-forth'
    ctrl-alt-9 = 'workspace 9 --auto-back-and-forth'
    ctrl-alt-0 = 'workspace 10 --auto-back-and-forth'

    # --focus-follows-window is used to ensure workspace changes to trigger the callback for sketchybar to update
    ctrl-alt-shift-1 = 'move-node-to-workspace 1  --focus-follows-window'
    ctrl-alt-shift-2 = 'move-node-to-workspace 2  --focus-follows-window'
    ctrl-alt-shift-3 = 'move-node-to-workspace 3  --focus-follows-window'
    ctrl-alt-shift-4 = 'move-node-to-workspace 4  --focus-follows-window'
    ctrl-alt-shift-5 = 'move-node-to-workspace 5  --focus-follows-window'
    ctrl-alt-shift-6 = 'move-node-to-workspace 6  --focus-follows-window'
    ctrl-alt-shift-7 = 'move-node-to-workspace 7  --focus-follows-window'
    ctrl-alt-shift-8 = 'move-node-to-workspace 8  --focus-follows-window'
    ctrl-alt-shift-9 = 'move-node-to-workspace 9  --focus-follows-window'
    ctrl-alt-shift-0 = 'move-node-to-workspace 10 --focus-follows-window'

    alt-shift-c = 'reload-config'

    alt-r = 'mode resize'

[mode.resize.binding]
    h = 'resize width -50'
    j = 'resize height +50'
    k = 'resize height -50'
    l = 'resize width +50'
    enter = 'mode main'
    esc = 'mode main'

# quaketerm fix: https://github.com/nikitabobko/AeroSpace/discussions/1139
[[on-window-detected]]
    if.app-id = 'com.googlecode.iterm2'
    if.window-title-regex-substring = "quaketerm" # set profile -> General -> Title - to only Name
    run = 'layout floating'

[[on-window-detected]]
    if.app-id="com.mitchellh.ghostty"
    run= [
      "layout tiling",
    ]

# [[on-window-detected]]
#     # just hit ctrl-f when it starts (or make it do that automatically in here)
#     if.app-id = 'com.github.wez.wezterm'
#     run = 'layout floating'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 0
    inner.vertical =   0
    outer.left =       0
    outer.bottom =     0
    outer.top =        0
    outer.right =      0
