.vimperator/info/**/*
.pentadactyl/info/**/*
blog.vim
.vim/tmp
.vim/doc/tags
.netrwhist
*.pyo
*.pyc
.elinks/bookmarks*
.elinks/cookies*
.elinks/searchhist*
.elinks/globhist*
**/*log
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.local/share/
!.local/share/subtle
.newsbeuter/cache.db
.newsbeuter/history.search
