[user]
	name = Jon Austin
	email = jonaustin@jonaustin.org
[github]
	token = 93d49b6e93fe6b3b1ff4f9c901352de2
	user = jonaustin
[color]
	ui = auto
[core]
	editor = vim
[merge]
  keepBackup = false
  tool = p4merge
  #tool = vimdiff
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
  external = git_diff_wrapper
[pager]
  diff = #this is needed for vimdiff to work
[pretty]
[alias]
  co = checkout
  ci = commit
  br = branch
  st = status
  l  = log
  lp = log --pretty=oneline
  lpg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  histall = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
  d  = diff
  type = cat-file -t
  dump = cat-file -p
[remote "mine"]
  url = jon@pittock.legitscript.com:./git/web.git
  fetch = +refs/heads/*:refs/remotes/mine/*
