[user]
  name = Jon Austin
  email = jon.i.austin@gmail.com
[github]
  token = 93d49b6e93fe6b3b1ff4f9c901352de2
  user = jonaustin
[color]
  ui = auto
  diff = always # so piping to less will show colors
  status = auto
  branch = auto
  interactive = auto
[core]
  editor = /usr/local/bin/vim
  excludesfile = /Users/jon/.gitignore_global
[merge]
  tool = vimdiff
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
#[diff]
# external = git_diff_wrapper
[pager]
  diff = #this is needed for vimdiff to work
[pretty]
;[gc]
  ;auto=1 # automatic garbage collection
[merge]
  summary=true # get a summary of the changes you’re merging
[alias]
  co = checkout
  # create a new branch (mnemonic: "git new branch branchname...")
  nb = checkout -b
  cb = checkout -b
  bt = branch track
  ci = commit
  cim= commit --amend
  br = branch -v
  b = branch -v # show commit messages on branch list
  t = tag -l # show commit messages on tag list
  r = remote -v # show urls of remotes
  stat = status
  st = status
  d  = diff
  ds = diff --staged
  df = diff --color --color-words --abbrev
  wc = whatchanged -p --abbrev-commit --pretty=medium

  type = cat-file -t
  dump = cat-file -p

  # 'git add -u' handles deleted files, but not new files
  # 'git add .' handles any current and new files, but not deleted
  # 'git addall' now handles all changes
  addall = !sh -c 'git add . && git add -u'

  outgoing = log -u origin/master..master # outgoing changes (in local, but not origin)

  # Handy shortcuts for rebasing
  rmas = rebase master
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort

  # copy a commit from another branch with source info
  cp = cherry-pick -x

  # logging
  lp = log --pretty=oneline
  lpg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  histall = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  filelog = log -u # show changes to a file
  lfiles  = log --name-only
  changelog = log --pretty=format:\" * %s\"
  lg = log --pretty=format:'%C(red)%h%Creset %C(yellow)%d%Creset %s %Cgreen(%an)%Creset %Cblue[%ar]' --graph -35
  lgf = log --pretty=format:'%C(red)%h%Creset %C(yellow)%d%Creset %s %Cgreen(%an)%Creset %Cblue[%ar]' --graph -35 --first-parent
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

  unstage = reset HEAD # un-add files from index (tracking)
  uncommit = reset --soft HEAD^ # go back one commit, put changes into your working dir and index
  chunkyadd = add --patch # stage commits chunk by chunk
  amend = commit --amend # fix last commit

[remote "mine"]
  url = git@git.legitscript.com:web-jon
  fetch = +refs/heads/*:refs/remotes/web-jon/*

[giggle]
  main-window-maximized = false
  main-window-geometry = 1920x1080+1920+0
  history-view-vpane-position = 169
  file-view-vpane-position = 158
  main-window-view = HistoryView

[push]
 default=tracking

[pull]
  ;rebase = true
