.vimperator/info/**/*
.pentadactyl/info/**/*
.config/tridactyl
.zsh/zshrc.local.private
keyrings
blog.vim
.vim/tmp
.vim/doc/tags
.vim/autoload
.netrwhist
*.pyo
*.pyc
.elinks
.elinks/searchhist
!.elinks/elinks.conf
**/*log
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/vimprobable/cookies
.config/vimprobable/closed
.local/share/**/*
.local/share/*
!.local/share/subtle
.newsbeuter/cache.db
.newsbeuter/history.search
.oh-my-zsh
.ncmpcpp
*.un~
.fehbg
.zsh/zshrc_local
.zsh/zshrc.local.work
.DS_Store
.vim/bundle
.vim/sessions
initializers_private.sh
tags
tags.*
.tmux/resurrect
.tmux/plugins
.vim/colors
powerline.conf
.lein/repl-history
.lein/self-installs
.gitconfig
/old
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/.vim/words.txt
