.vimperator/info/**/*
.pentadactyl/info/**/*
blog.vim
.vim/tmp
.vim/doc/tags
.netrwhist
*.pyo
*.pyc
.elinks
!.elinks/elinks.conf
**/*log
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.local/share/
!.local/share/subtle
.newsbeuter/cache.db
.newsbeuter/history.search
.oh-my-zsh
.ncmpcpp
