#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession
#

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

# input peripherals
## logitech
xinput set-button-map "Logitech Trackball" 1 3 3
xinput --set-prop 'jonathan austin’s Trackpad' 'libinput Tapping Enabled' 1
xinput --set-prop 'Logitech USB Receiver' 'libinput Accel Speed' 1
xinput --set-prop 'Logitech Rechargeable Touchpad T650' 'libinput Tapping Enabled' 1

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank
# Faster key repeat and delay
xset r rate 210 40
