[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=image/png;
Exec=env WINEPREFIX="/home/jon/.wine" wine start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
